<div class="container">
    <div class="row mt-3">
        <div class="col"></div>
        <div class="col-sm-10 col-md-8 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h2>About Me</h2>
                    <p>
                        I graduated from Penn State University in 2021 with a Bachelor of Science in Computer Science and honors in 
                        Computer Science. My passion for computer science is evident in my coursework, professional experience, 
                        and extracurricular activities. Specifically, I am extremely interested in artificial intelligence,
                        cryptography, networking, and web development.
                    </p>
                    <p>  
                        I have web development experience from my software engineering internship experiences, 
                        and I have worked with artificial intelligence and natural language processing through 
                        a part-time job with the Nittany AI Alliance at Penn State.
                    </p>
                    <p>    
                        In college, I dedicated a large amount of my time as a volunteer of the Penn State Dance Marathon (THON™). 
                        In my role as a Systems Administrator on the Technology Committee, I have been able to combine my passions 
                        for computer science and volunteering. This role has allowed me to learn and apply industry-standard 
                        technologies, such as Docker, Amazon Web Services (AWS), Splunk, and Django.
                    </p>
                    <p>    
                        Some of my hobbies include running, skiing, and playing sports (soccer, tennis, and volleyball mostly). 
                        I also enjoy programming side projects, such as personal websites.
                    </p>
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-8 col-12">
                            <img class="w-100" src="assets/thon.jpg" alt="John Dukewich with two friends at THON 2020">
                        </div>
                    </div>
                </div>
              </div>

        </div>
        <div class="col"></div>
    </div>
</div>
