<div class="container">
    <div class="row mt-3">
        <div class="col"></div>
        <div class="col-sm-10 col-md-8 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h2>My Work</h2>
                    <p>
                        I enjoy programming side projects to help make some things easier. 
                        You can find more on my <a href="https://github.com/jdukewich" target="_blank" rel="noopener noreferrer">Github</a> (opens in new tab).
                        The following projects are some examples of work I've done on the side or for school.
                    </p>
                    <hr>
                    <h4>Undergraduate Honors Thesis</h4>
                    <p>
                        <a href="https://honors.libraries.psu.edu/catalog/7005jpd5666" target="_blank" rel="noopener noreferrer">See thesis</a> (opens in new tab)
                    </p>

                    <h4>Self-Hosted Website Analytics</h4>
                    <p>
                        <a href="https://github.com/jdukewich/Ackee/tree/aws-dynamodb" target="_blank" rel="noopener noreferrer">Github Repository</a> (opens in new tab)
                    </p>

                    <h4>AWS Server Toggle</h4>
                    <p>
                        <a href="https://github.com/jdukewich/ec2-toggle" target="_blank" rel="noopener noreferrer">Github Repository</a> (opens in new tab)
                    </p>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
